body {
    display: block;
    overflow-x: hidden;
    background-color: #f8e7ba;
    padding-top: 100px;
}

nav {
    background-color: #c42a1c;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

.navbar-brand img {
    max-height: 80px;
}

.navbar-logo img {
    max-height: 50px;
}

nav ul li a {
    color: rgb(13, 13, 13);
    font-size: 18px;
    margin: auto 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffffff;
}

@media (max-width:768px) {
    nav ul li a {
        font-size: 16px;
    }
    .navbar-brand img {
        max-height: 60px;
    }
    .navbar-logo img {
        max-height: 40px;
    }
}

.watermark {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 200px;
    height: auto;
    z-index: 0;
}

@media (max-width: 768px) {
    .watermark {
        position: absolute;
        bottom: auto;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        z-index: -1;
    }
}

@media (max-width: 480px) {
    .watermark {
        width: 120px;
        top: 115%;
    }
}

* {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}


.wrapper {
    width: 1000;
    max-width: 1000px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.navbar .nav-item.dropdown:hover .dropdown-menu {
    background-color: #747474;
}

.navbar .nav-item .nav-link.dropdown-toggle {
    color: #000000; 
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar .nav-item .nav-link.dropdown-toggle:hover {
    color: #000000;
}

.dropdown-menu {
    background-color: #343a40;
    border-radius: 5px; 
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-item {
    color: #ffffff;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #333333;
    color: white;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

#banner {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner img {
    max-width: 100%;
    width: 90%;
    margin: 0 auto; 
    display: block;
}

@media (max-width: 768px) {
    #banner {
        margin-top: 20px;
    }

    #banner img {
        width: 80%;
    }
}

@media (max-width: 480px) {
    #banner {
        margin-top: 10px;
    }

    #banner img {
        width: 70%;
    }
}

section p{
    font-weight: 900;
    color:rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
    margin-top:5%;
    font-size: 20px;
}  

section h4{
    font-size: 18px;
}

section h1{
    font-weight: 900;
    color:rgb(0, 0, 0);
    text-align: left;
    margin-bottom: 20px;
    margin-top:5%;
    font-size: 55px;
}  

.expanded-image {
    width: 100%;
    height: auto;
}

#projects .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
    color: #343a40;
    background-color: #f4eede;
    position: relative;
}

.card-title {
    font-size: 40px;
    font-weight: bold;
}

.card-text {
    font-size: 20px;
    color: #555;
}

.bottom-right-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #c42a1c;
    outline: black;
}

.bottom-right-btn:hover {
    background-color: #454545;
    color: #c42a1c;
}

.footer-section {
    background-color: #818181;
    color: #fff; 
    padding: 20px 0; 
}

.contact-header {
    font-size: 25px;
    color: #c32516;
    margin-bottom: 10px; 
    font-weight: bolder;
}

.projects{
    padding-top: 20px;
}

.carousel-item img{
    width: auto;
    height: 500px;
    max-height: 500px;
    margin: auto; 
    display: block;
    }

.carousel{
    margin-right: 50px;
}
    
.footer-section p {
    font-size: 1rem;
    color: #ddd;
    margin: 0;
    line-height: 1.8;
}

.footer-section i {
    margin-right: 10px;
    color: #cb982c;
}