body {
    display: block;
    overflow-x: hidden;
    background-color: #f8e7ba;
    padding-top: 100px;
}

nav {
    background-color: #c42a1c;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

.navbar-brand img {
    max-height: 80px;
}

.navbar-logo img {
    max-height: 50px;
}

nav ul li a {
    color: rgb(13, 13, 13);
    font-size: 18px;
    margin: auto 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffffff;
}

@media (max-width:768px) {
    nav ul li a {
        font-size: 16px;
    }
    .navbar-brand img {
        max-height: 60px;
    }
    .navbar-logo img {
        max-height: 40px;
    }
}

.watermark {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 200px;
    height: auto;
    z-index: 0;
}

@media (max-width: 768px) {
    .watermark {
        position: absolute;
        bottom: auto;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        z-index: -1;
    }
}

@media (max-width: 480px) {
    .watermark {
        width: 120px;
        top: 115%;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}


.wrapper {
    width: 1000;
    max-width: 1000px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.input-box {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.input-box input {
    width: 100%;
    background: #818181;
    border: 2px solid black;
    border-radius: 40px;
    padding: 20px;
    font-size: 16px;
    color: #000000;
}

.input-box input::placeholder {
    color: rgb(0, 0, 0);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.btn {
    width: 50%;
    padding: 10px;
    background-color: #c42a1c;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
    display: block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #a21f1b;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #c42a1c;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}